$white: #fff;
$primary-bg: #f3f4f6;
$black: #19191c;
$primary-color: #106ddb;
$secondary-color: #5cbaff;
$success-color: #0c8863;
$error-color: #88200c;
$font-primary-color: #636365;
$font-secondary-color: #c1c2c4;
$input-color-pl: #8d8d8d;
$secondary-bg: #302e35;

$landing-background-color: #0f0d32;
$btn-primary-color: #262180;
$text-secondary-color: #7f7ea6;
$bg-color-secondary: #222244;
$inNumer-bg-color: linear-gradient(91.22deg, #018ff8 0%, #6744ef 100%);
$footer-bg-color: #0a0a27;
$divider-color: #1a1a3d;
$fotter-text-color: #737594;
